

.START-img {
    max-width: 30%;
    height: auto;
    margin-top: 411px;
    margin-left: 205px;
}

.EXIT-img {
    max-width:20%;
    height:auto;
}

.HOW-TO-PLAY-img {
    max-width: 30%;
    height: auto;
    margin-top: 10px;
    margin-left: 200px;
}

#background-galaxy-howtoplay {
    background-image: url("assets/background-galaxy-howtoplay.png");
    height: 600px;
    width: 600px;
}

#background1 {
    background-image: url("assets/Background1.png");
    height: 600px;
    width: 600px;
}


#background2 {
    background-image: url("assets/background2.jpg");
    height: 600px;
    width: 600px;
}

#spaceship {
    background-image: url("assets/spaceship.png");
    height: 78px;
    width: 99px;
    position: absolute;
    top: 500px;
    left: 265px;
}

#coronas {
    height: 42px;
    width: 41px;
    position: absolute;
    top: 700px;
}



h1 {
    text-align: center;

}


.corona {
    background-image: url(assets/blue-Corona.png);
    height: 42px;
    width: 41px;
    position: absolute;
    bottom: 600px;
    left: 300px;
}

#lasers {
    height: 600px;
    width: 600px;
    position: absolute;
}

.laser {
    background-image: url(assets/red-Laser.png);
    height: 57px;
    width: 9px;
    position: absolute;
    bottom: 730px;
    left: 300px;
}



