#background {
    background-image: url("assets/background-galaxy-stars.jpg");
    height: 600px;
    width: 600px;
}

#spaceShip {
    background-image: url("assets/spaceship.png");
    height: 78px;
    width: 99px;
    position: absolute;
    top: 500px;
    left: 265px;
}

.blue-Corona {
    background-image: url(assets/blue-Corona.png);
    height: 42px;
    width: 41px;
    position: absolute;
    bottom: 600px;
    left: 300px;
}

#red-Lasers {
    background-image: url(assets/red-Laser.png);
    height: 600px;
    width: 600px;
    position: absolute;
}

.red-Laser {
    background-image: url(assets/red-Laser.png);
    height: 57px;
    width: 9px;
    position: absolute;
    bottom: 200px;
    left: 310px;
}


