#background {
    background-image: url("assets/background-galaxy-stars.jpg");
    height: 600px;
    width: 600px;
}

#spaceship {
    background-image: url("assets/spaceship.png");
    height: 78px;
    width: 99px;
    position: absolute;
    top: 500px;
    left: 265px;
}

.blue-corona {
    background-image: url(assets/blue-corona.png);
    height: 95px;
    width: 99px;
    position: absolute;
    bottom: 450px;
    left: 200px;
}

.green-corona {
    background-image: url(assets/blue-corona.png);
    height: 95px;
    width: 99px;
    position: absolute;
    bottom: 450px;
    left: 200px;
}

.orange-corona {
    background-image: url(assets/blue-corona.png);
    height: 95px;
    width: 99px;
    position: absolute;
    bottom: 450px;
    left: 200px;
}

.yellow-corona {
    background-image: url(assets/blue-corona.png);
    height: 95px;
    width: 99px;
    position: absolute;
    bottom: 450px;
    left: 200px;
}

